<div class="signup-form">

<section class="signup-content">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), data: {turbo: false}) do |f| %>
  <div class="splash-image">
      <%= image_tag "logo.png" , class: "logo-img" %>
  </div>

  <h4>Sign Up</strong></h4>

  <form class="mx-1 mx-md-4">

    <div class="d-flex flex-row align-items-center mb-4">
      <i class="fas fa-user fa-lg me-3 fa-fw"></i>
        <div class="form-outline flex-fill mb-0">
          <%= f.text_field :name, autofocus: true, autocomplete: "name" , placeholder: "Name" , class: "form-control form-input" %>
        </div>
    </div>

    <div class="d-flex flex-row align-items-center mb-4">
      <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
        <div class="form-outline flex-fill mb-0">
          <%= f.email_field :email, autofocus: true, autocomplete: "email" ,placeholder:"Email", class: "form-control form-input" %>
        </div>
    </div>

    <div class="d-flex flex-row align-items-center mb-4">
        <div class="form-outline flex-fill mb-0">
          <%= f.text_field :phone_number, autofocus: true, autocomplete: "Phone Number" ,placeholder:"Phone Number", class: "form-control form-input" %>
        </div>
      </div>
      <div class="d-flex flex-row align-items-center mb-4">
        <div class="form-outline flex-fill mb-0">
          <%= f.text_field :national_doctor_id, autofocus: true, autocomplete: "Doctors ID" ,placeholder:"Doctor ID", class: "form-control form-input" %>
        </div>
      </div>
      <div class="d-flex flex-row align-items-center mb-4">
        <div class="form-outline flex-fill mb-0">
          <%= f.text_field :hospital_name, autofocus: true, autocomplete: "Hospital" , placeholder:"Hospital Name", class: "form-control form-input" %>
        </div>
      </div>

      <div class="d-flex flex-row align-items-center mb-4">
        <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
          <div class="form-outline flex-fill mb-0">
            <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "new-password" ,placeholder:"password", class: "form-control form-input" %>
          </div>
        </div>

        <div class="d-flex flex-row align-items-center mb-4">
          <i class="fas fa-key fa-lg me-3 fa-fw"></i>
            <div class="form-outline flex-fill mb-0">
              <%= f.password_field :password_confirmation, autocomplete: "new-password" ,placeholder:"confirm password", class: "form-control form-input" %>
            </div>
        </div>

        <div>
          <input type="checkbox" id="form2Example3c" />
            <label class="form-check-label" for="terms">
            I agree to the terms and conditions</label>
            </div class="mt-3">

                    <%= f.submit "Sign up" , class: "btn btn-primary form-input mt-3" %>


                  <div class="form-check mt-3">
                    Already have an account? <%= link_to "Sign in", new_session_path(resource_name) , class: "mt-3" %>
                  </div>

                </form>

              </div>
              <div class="col-md-5 col-lg-6 col-xl-7 d-flex align-items-top mt-5 order-1 order-lg-2">

  <% end %>
</section>
</div>
