<div class="container-fluid patient-page">
    <div class="">
        <section class="patient-main">
            <div class="patient-details d-flex">
                <div class="patient-header">
                    <div class="patient-image">
                        <%= image_tag patient.image, class: "img-fluid" %>
                        <span class="patient-name"><%= patient.first_name %></span>
                        <span class="patient-name"><%= patient.last_name %></span>
                    </div>
                </div>
                <div class="patient-line"></div>
                <div class="patient-bio d-flex">
                <section class= "patient-name">
                <h4>Patient details </h4>
                <table class="table table-success table-striped table-bordered">
                <tbody>
                <tr>

                    <tr>
                    <th scope="row">National ID</th>
                    <td><%= patient.national_id %></td>
                    </tr>
                    <tr>
                    <th scope="row">Telephone</th>
                    <td><%= patient.telephone %></td>
                    </tr>
                    <tr>
                    <th scope="row"> Gender</th>
                    <td><%= patient.gender %></td>
                    </tr>
                    <tr>
                    <th scope="row">Resasitate</th>
                    <td><%= patient.dnr %></td>
                    </tr>
                    <tr>
                    <th scope="row">Infuse</th>
                    <td><%= patient.dni %></td>
                </tr>
                    <tr>
                    <th scope="row"> Blood Group</th>
                    <td><%= patient.blood_group %></td>
                    </tr>
                    <%patient.next_of_kins.each_with_index do |next_of_kin , index| %>
                    <tr>

                    <th scope="row"> Next of Kin <%= index + 1 %></th>
                    <td><%= next_of_kin.name %></td>
                    </tr>
                    <% end %>
                </tbody>
            </table>
            </section>


        </section>
    </div>

</div>