
<div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar">
           <div class="splash-image">
      <%= image_tag "lifeline-logo-white.png" , class: "logo-img" %>
  </div>

            <ul class="list-unstyled components text-light ">
               
                <li>
                    <%= link_to "Home", authenticated_root_path , class:"text-decoration-none text-light" %>
               </li>
              
              <li>
                <%= link_to "Add A Patient" , new_patient_path , class:"text-decoration-none text-light" %>
             </li>
             <li>
             <%= link_to "Sign Out", destroy_doctor_session_path, method: :delete , class:"text-decoration-none text-light" %>
            </li>
            <li>
               <%= link_to "Show All Patients", patients_path , class: "text-decoration-none text-light" %>
              </li>
            </ul>
        </nav>

        <!-- Page Content  -->
        <div id="content" class="container">

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="btn btn-info">
                        <i class="fas fa-align-left"></i>
                        <span>Toggle Sidebar</span>
                    </button>
                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-align-justify"></i>
                    </button>

                 
                </div>
            </nav>

            <div class="container-fluid patient-page">
    <div class="">
        <section class="patient-main">
            <div class="patient-details d-flex">
                <div class="patient-header">
                    <div class="patient-image d-flex flex-column align-items-center">
                        <%= image_tag patient.image, class: "img-fluid", style: "width: 100px; height: 100px; border-radius: 50%;" %>
                        <h4 class="patient-name text-center mx-3"><%= patient.first_name %> <%= patient.last_name %></h4>
                    </div>
                </div>
                <div class="patient-line mx-4"></div>
                <div class="patient-bio-cont">
                    <div class="patients-info">
                        <h5 class="header">Patients info</h5>
                        <p> National ID: <%= patient.national_id %> </p>
                        <p>telephone:<%= patient.telephone %></p>
                        <p>blood group:<%= patient.blood_group %></p>
                    </div>

                     <div class="birthdate">
                        <h5 class="header">Birthdate</h5>
                        <p> 6/6/2001 </p>
                        <h5 class="header">Weight</h5>
                        <p> 60 kg </p>
                        
                    </div>
                    <div class="birthdate">
                        <h5 class="header">Height</h5>
                        <p> 181cm</p>
                        <h5 class="header">Work phone</h5>
                        <p> +254790841979 </p>
                        
                    </div>

                </div>


        </section>
        <div class="container text-center">
  <div class="more-info">
    <div class="medical-history">
      <h5 class="header">Medical History</h5>
      <p> General medical history </p>
    </div>
    <div class="medical-history">
      <h5 class="header--blue">Medical History</h5>
      <p> General medical history </p>
    </div>
    <div class="medical-history">
      <h5 class="header--purple">Medical History</h5>
      <p> General medical history </p>
    </div>
    <div class="medical-history">
      <h5 class="header--light">Medical History</h5>
      <p> General medical history </p>
    </div>
</div>
    </div>

</div>
                

</div>


    </div>


