
<div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar" class="bg-primary">
           <div class="splash-image">
      <%= image_tag "lifeline-logo-white.png" , class: "logo-img" %>
  </div>

            <ul class="list-unstyled components text-light hide">

                <li>
                    <%= link_to "Home", authenticated_root_path , class:"text-decoration-none text-light" %>
               </li>

              <li>
                <%= link_to "Add A Patient" , new_patient_path , class:"text-decoration-none text-light" %>
             </li>
             <li>
             <%= link_to "Sign Out", destroy_doctor_session_path, method: :delete , class:"text-decoration-none text-light" %>
            </li>
            <li>
               <%= link_to "Show All Patients", patients_path , class: "text-decoration-none text-light" %>
              </li>
            </ul>
            <div class="text-start  mb-5">
                <p>
                    <%= image_tag(patient.qr_code) if patient.qr_code.attached? %>
                </p>
                </div>
        </nav>

        <!-- Page Content  -->
        <div id="content" class="container">

            <%= render "layouts/navbar" %>

            <div class="container-fluid patient-page">
    <div >
        <section class="flex-row d-flex">
            <div class=" mb-2  d-flex">
                <div class="bg-primary py-2  h-400px ">
                    <div class="patient-image   d-flex flex-column align-items-center">
                        <%= image_tag patient.image, style: "width: 150px; height: 150px; border-radius: 90%;" %>
                        <h4 class="d-flex flex-row font-weight-light text-light text-center mx-3"><%= patient.first_name %> <%= patient.last_name %></h4>
                        <div class="d-flex w-100 flex-column bg-light">
                        <h4 class=" text-primary w-100 text-center ">Age : <%= patient.patient_age %> </h4>
                         <h4 class=" text-primary w-100 text-center ">Blood Type : <%= patient.blood_group %> </h4>
                         </div>
                    </div>
                </div>
                <div class="patient-line mx-4"></div>
                <div class="patient-bio-cont">
                    <div class="patients-info">
                      <h5 class="text-primary">First name</h5>
                        <p class="patient-info"><%= patient.first_name %></p>
                         <h5 class="text-primary">Last name</h5>
                        <p class="patient-info"><%= patient.last_name %></p>
                        <h5 class="text-primary">Age</h5>
                        <p><%= patient.patient_age %></p>


                    </div>

                     <div class="birthdate">

                        <h5 class="text-primary">Patient telephone number</h5>
                        <p>telephone:<%= patient.telephone %></p>
                        <h5 class="text-primary">Patient Blood Type</h5>
                        <p>blood group:<%= patient.blood_group %></p>
                       



                    </div>

                    <div>
                     <h5 class="text-primary"> In case of emergency , please contact the patient's doctor</h5>
                        <h6 class="text-secondary">Doctor:<%= patient.doctor.name %></h6>
                        <h6 class="text-secondary"> Number:<%= patient.doctor.phone_number %></h6>
</div>



                </div>


        </section>
        <div class="container text-center mt-5">
  <div class="more-info mt-4">
    <div class="medical-history">
      <h5 class="header">Food Allergy</h5>
        <p> <%= patient.food_allergies.any? ? patient.food_allergies.map(&:name).join(", ") : "No food allergies" %> </p>

    </div>
    <div class="medical-history">
      <h5 class="header--blue">Drug Allegries</h5>
        <p> <%= patient.drug_allergies.any? ? patient.drug_allergies.map(&:name).join(", ") : "No drug allergies" %> </p>
    </div>
    <div class="medical-history">
      <h5 class="header--purple ">Pre existing conditions </h5>

       <%if patient.pre_existing_conditions.any? %>

        <% patient.pre_existing_conditions.each do |pre_existing_condition| %>
            <li class="my-1 list-unstyled">
            <% if pre_existing_condition.diabetes == true %>
              <button class="btn btn-danger px-3">Patient has history of diabetes</button>
            <% else %>
              <button class="btn btn-success px-3">Patient has no history of diabetes</button>
            <% end %>
            </li>
            <li class="my-1 list-unstyled">
            <% if pre_existing_condition.hypertension == true %>
              <button class="btn btn-danger px-3">Patient has history of hypertension</button>
            <% else %>
              <button class="btn btn-success px-3">Patient has no history of hypertension</button>
            <% end %>
            </li>
            <li class="my-1 list-unstyled">
            <% if pre_existing_condition.asthma == true %>
              <button class="btn btn-danger px-3">Patient has history of asthma</button>
            <% else %>
              <button class="btn btn-success px-3">Patient has no history of asthma</button>
            <% end %>
            </li>
            <%= link_to "Change Pre Existing Condition Status", edit_patient_pre_existing_condition_path(patient, pre_existing_condition) , class: "text-dark" %>
          <% end %>

          <% else %>

          <p> No Pre Existing Condition Added </p>
          <% end %>

    </div>
    <div class="medical-history">
      <h5 class="header--light">Next of Kin</h5>

        <%if patient.next_of_kins.any? %>
                       <% patient.next_of_kins.each.with_index(1) do |kin, index| %>
                        <h6 class="header">Next of Kin <%= index %></h6>
                        <p> Name: <%= kin.name %> </small>
                       <small>  Phone Number: <%= kin.phone_number %> </small>
                     <small>   Relation: <%= kin.relation %> </small>

                        <% end %>

                        <% else %>
                        <p> No Next of Kin Added </p>
                        <% end %>



    </div>

</div>
    </div>

    <div class="container text-center my-3">
    <button class="btn btn-light"><%= link_to "Add food allergy" , new_patient_food_allergy_path(@patient) %></button>
    <button class="btn btn-light ms-5"><%= link_to "Add drug allergy" , new_patient_drug_allergy_path(@patient) %></button>
    <% if @patient.pre_existing_condition_count == 0 %>
    <%= link_to "Add pre existing condition" , new_patient_pre_existing_condition_path(@patient) %>
    <% end %>
    <button class="btn btn-light ms-5"><%= link_to "Add next of kin" , new_patient_next_of_kin_path(@patient) %></button>

</div>

</div>


</div>

</div>


